<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Your Tamagotchi!</title>
</head>
<body>
    <div class='container'>
        <h1>{{needs2[0].getName}} has died!</h1>
        <img src="/img/tamdie.gif"/>

            <form>
                <p><button type='submit' class='btn-success' formaction='/reset'>Try again! (You kinda blew it with the last one...)</button></p>
            </form>
    </div>
</body>
</html>
