<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>New Place</title>
</head>
<body>
    <div class='container'>
        <h1>Name your Tamagotchi!</h1>
        <form action='/start-care'>
            <div class='form-group'>
              <label for='name'>Enter a name:</label>
              <input id='name' name='name' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Create your tamagotchi!</button>
        </form>
    </div>
</body>
</html>
